* {
     background-color: black;
     font-family: 'Courier New', Courier, monospace;
     color: greenyellow;
     text-decoration: none;
}

#app {
     margin-top: 3cm;
     margin-bottom: 3cm;
     margin-left: 3cm;
     margin-right: 3cm;
}

#heading {
     text-align: center;
}

.svg {
     background-color: white;
}

#links {
     text-align: center;
}